body{
  background-color: rgb(78, 70, 55);
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 20px;
}
.header{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
h1{
  font-family: 'Bungee Outline', sans-serif;
  font-size: 50px;
  margin: 0;
  background-color: rgba(172, 18, 15, 0.6);
  color: #7f5b28;
  text-shadow:
  0 0 7px #ffffff,
  0 0 10px #ffffff,
  0 0 21px #fffffe,
  0 0 42px rgb(199, 165, 11),
  0 0 82px rgb(199, 165, 11),
  0 0 92px rgb(199, 165, 11),
  0 0 102px rgb(199, 165, 11),
  0 0 151px rgb(199, 165, 11);
  border: 1px solid;
  border-radius: 30px;
  box-shadow:
  0 0 7px #ffffff,
  0 0 10px #ffffff,
  0 0 21px #fffffe,
  0 0 42px rgb(199, 165, 11),
  0 0 82px rgb(199, 165, 11),
  0 0 92px rgb(199, 165, 11),
  0 0 102px rgb(199, 165, 11),
  0 0 151px rgb(199, 165, 11);
  padding: 10px 70px;
}

.whole-container{
  display: flex;
  margin-top: 60px;
  padding-bottom: 0px;
}
.left-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.money-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(185, 157, 92);
  width: 200px;
  height: 120px;
}
#player-money{
  margin: 0
}
.delt-cards{
  display: flex;
  flex-direction: column;
  width: 100%;
  color: rgb(185, 157, 92);
  margin-bottom: 0;
  padding-bottom: 0;
}
.delt-cards>div, .delt-cards>p{
  margin-left: 15%;
}

.delt-cards>p{
  margin-left: 20%;
}
.player-card-container{
  margin-top: 10px;
}
.messages{
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(185, 157, 92);
  margin-top: 40px;
  font-size: 20px;
  height: 20px;
  padding: 0;
}
.all-chips{
  display: flex;
  justify-content: center;
}
.chips, .blackjack-chip{
  margin-top: 30px;
}

div.chips> button, div.blackjack-chip> button{
  height: 75px;
  width: 75px;
  border-radius: 50%;
  color: rgb(237, 205, 157);
  font-size: 20px;
  border: dashed;
  box-shadow: 1px 5px 5px rgb(62, 35, 2);
  margin: 5px;
}
#chip2_5{
  background-color: rgb(149, 113, 6);
  margin: 5px 10px;
}
#chip5{
  background-color: rgb(164, 9, 9);
}
#chip10{
  background-color: rgb(42, 42, 122);
}
#chip25{
  background-color: rgb(25, 93, 53);
}
#chip100{
  background-color: rgb(22, 21, 21);
}
button{
  cursor: pointer;
}

div.chips> button:hover, div.blackjack-chip> button:hover{
  opacity: 0.8;
  box-shadow: 1px 3px 5px black;
}
div.chips> button:active, div.blackjack-chip> button:active{
  transform: scale(0.98);
  box-shadow: none;
}

.buttons{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.buttons> button{
  padding: 10px;
  border-radius: 15px;
  border: 2px solid rgb(94, 63, 5);
  margin: 10px;
  background-color: rgb(185, 157, 92);
  box-shadow: 1px 3px 5px rgb(99, 67, 13);
  color: rgb(82, 53, 3);
}

.buttons> button:hover{
  opacity: 0.8;
  box-shadow: 1px 3px 5px black;
}
.buttons> button:active{
  transform: scale(0.98);
  box-shadow: none;
}
.reset-game-container{
  display: flex;
  justify-content: center;
}
#reset-game-button{
  padding: 10px;
  background-color: rgb(13, 116, 150);
  border-radius: 15px;
  border: 2px solid rgb(16, 27, 125);
  margin-bottom: 40px;  
  box-shadow: 1px 3px 5px rgb(13, 16, 99);
}
#reset-game-button:hover{
  opacity: 0.8;
  box-shadow: 1px 3px 5px rgb(13, 16, 99);
}
#reset-game-button:active{
  transform: scale(0.98);
  box-shadow: none;
} 

#player-first-card, #player-2-card{
  display: inline-block;
  animation-duration: 0.5s;
  animation-delay: 0s;
}

#dealer-first-card{
  display: inline-block;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
}

#player-second-card{
  display: inline-block;
  animation-duration: 0.5s;
  animation-delay: 0.6s;
}

#dealer-second-card{
  display: inline-block;
  animation-duration: 0.5s;
  animation-delay: 0.9s;
}
#dealer-2-card, #player-3-card{
  display: inline-block;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
}
#dealer-3-card, #player-4-card{
  display: inline-block;
  animation-duration: 0.5s;
  animation-delay: 0.6s;
}
#dealer-4-card, #player-5-card{
  display: inline-block;
  animation-duration: 0.5s;
  animation-delay: 0.9s;
}
#dealer-5-card, #player-6-card{
  display: inline-block;
  animation-duration: 0.5s;
  animation-delay: 1.2s;
}
#dealer-6-card, #player-7-card{
  display: inline-block;
  animation-duration: 0.5s;
  animation-delay: 1.5s;
}